<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>List users</title>
  <meta charset="UTF-8">
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
        crossorigin="anonymous" />
</head>
<body>
  <div th:replace="/fragments/top_navbar :: top_nav(${user})"></div>
  <br>
  <br>
  <div class="row">
    <div class="col-2">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
        aria-controls="v-pills-home" aria-selected="true">Admin</a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
        aria-controls="v-pills-profile" aria-selected="false">User</a>
      </div>
    </div>
    <div class="col-10">
      <div class="container">
        <div class="tab-content" id="v-pills-tabContent">
          <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <h1>Admin panel</h1>
            <hr/>
            <br/>
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-users-tab" data-toggle="tab" href="#nav-users"
                role="tab" aria-controls="nav-users" aria-selected="true">Users table</a>
                <a class="nav-item nav-link" id="nav-new_user-tab" data-toggle="tab" href="#nav-new_user"
                role="tab" aria-controls="nav-new_user-tab" aria-selected="false">New user</a>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-users" role="tabpanel" aria-labelledby="nav-users-tab">
                <div class="card">
                  <div class="card-header h5">
                    All Users
                  </div>
                  <div class="card-body">
                    <table class="table table-striped" id="adminTable">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Email</th>
                          <th>Password</th>
                          <th>Roles</th>
                          <th>Edit</th>
                          <th>Delete</th>
                        </tr>
                      </thead>
                      <tbody>
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-----------------General modal window------------------------------------->
                <div class="modal fade" id="modalGeneral">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="VerticallyCenteredLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body text-center font-weight-bold">
                      </div>
                      <div class="modal-footer">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="nav-new_user" role="tabpanel" aria-labelledby="nav-new_user-tab">
                <div class="card">
                  <div class="card-header h5">
                    Add new user
                  </div>
                  <div class="card-body">
                    <form id="newUserForm">
                      <div class="text-center font-weight-bold">
                        <div class="row">
                          <div class="col-4"></div>
                          <div class="h6 col-4">
                            <label for="usernameId">Name</label>
                            <input type="text" id="usernameId"
                                 class="form-control mb-4" placeholder="Name" required />
                            <label for="emailId">Email</label>
                            <input type="text" id="emailId"
                                 class="form-control mb-4" placeholder="Email" required />
                            <label for="passId">Password</label>
                            <input type="text" id="passId"
                                 class="form-control mb-4" placeholder="Password" required />
                            <label for="rolesId">Roles</label>
                            <select multiple id="rolesId" class="form-control mb-4" size="2">
                              <option value="ROLE_USER">ROLE_USER</option>
                              <option value="ROLE_ADMIN">ROLE_ADMIN</option>
                            </select>
                            <button type="submit" class="btn btn-primary col-5" id="addNewUserButton">Save</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <h1>Personal information</h1>
            <hr/>
            <br/>
            <div class="card">
              <div class="card-header h5">
                About user
              </div>
              <div class="card-body">
                <table class="table table-striped" id="adminPersonalInfo">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Password</th>
                      <th>My roles</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
          crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
          crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>
  <script src="/js/admin.js"></script>
</body>
</html>