<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
    .buttons-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>
<head>
    <title>List users</title>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>

<body>

<div class="container">

    <h3>List users</h3>


    <hr/>
        <div class="buttons-container">
            <a th:href="@{/admin/new_user}" class="btn btn-primary"> + Add user</a>
            <div th:insert="logout_btn :: logout"></div>
        </div>
    <br/><br/>
    <table class="table table-bordered table-striped">

        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Roles</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${allUsers}">
            <td th:text="${user.getUsername()}" />
            <td th:text="${user.getEmail()}" />
            <td th:text="${user.getPassword()}" />
            <td>
                <p th:each="role: ${user.getRoles()}" th:text="${role.name}"/>
            </td>
            <td>
                <a th:href="@{/admin/update_user/{id}(id=${user.getId()})}" class="btn btn-info">Update</a>
                <a th:href="@{/admin/delete_user/{id}(id=${user.getId()})}" class="btn btn-secondary">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/user_page}">Go to personal page</a>
</div>


</body>

</html>