<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>My info</title>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous" />
</head>

<body>
<div th:replace="/fragments/top_navbar :: top_nav(${user})"></div>
<div class="container">
    <h3>My personal information</h3>
    <hr/>
    <br/><br/>
    <table class="table table-bordered table-striped">

        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>My roles</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${user.getUsername()}" />
            <td th:text="${user.getEmail()}" />
            <td th:text="${user.getPassword()}" />
            <td>
                <p th:each="role: ${user.getRoles()}" th:text="${role.name}"/>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/admin}" th:if="${role_names.contains('ROLE_ADMIN')}">Go to admin panel</a>
</div>

</body>
</html>